<%- include("./partials/header")%>
 
<style>
    
    body{
        background: url(../public/assets/bg2.jpg);
    }


</style>

    <div class="row align-items-center h-100"style="margin: 20px;">
        <div class="col-6 mx-auto">
            <div class="card h-70">
                <div class="card-header border-0 col-10 mx-auto text-center">
                    <img src="https://img.pngio.com/attack-on-titans-recon-corps-logo-by-vr-7-on-deviantart-attack-attack-on-titan-logo-png-1600_2211.png" alt="." height="500rem" width="70%">
                </div>
                <div class="card-block px-2 text-center" style="margin: 20px;">
                  <p class="card-title"><b>Name:</b> Ayaz Sarwar</p>
                  <p class="card-text"><b>Date of Birth:</b>  03/09/2001</p>
                  <p class="card-text"><b>Education:</b> Studying Electrical Engineering in IIT (BHU) Varanasi</p>
                  <p class="card-text"><b>Hobbies:</b> Sketching, Watching Anime, Reading Novels</p>
                </div>
            </div>
        </div>
    </div>

<%- include("./partials/footer")%>